*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /* height: 200px; */
    max-height: 50%;
    /* width: 40%; */
    /* max-width: 50%; */
    color: rgb(253, 253, 253);
    margin: 30%;
    padding: 10px 80px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: block;
}
.container h2{
    font-size: 40px;
}
button{
    color: rgb(0, 0, 0);
    background-color: #C850C0;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    margin: 0px;
    outline: none;
    padding: 10px;
}
button:hover{
    transform: scale(1.3);
    background-color: #fc00ec;
    /* opacity: 0; */
}